@import '../common/core';
@import '../components/collapse';

$menu-width: 220px;
$item-active-color: #24272F;

body {
    min-height: 100vh;
    overflow-x: hidden;
    display: flex;
    padding-left: $menu-width;
    align-items: stretch;
    position: relative;
    transition: padding-left .3s;

    &.off {
    	padding-left: 0;

    	.menu {
    		transform: translate3d(-100%, 0, 0);
    	}

    	.menu-btn {
    		display: block;
    	}
    }
}

.menu {
	position: fixed;
	width: $menu-width;
	height: 100vh;
	left: 0;
	top: 0;
	color: $default;
	background-color: $default2;
	display: flex;
	flex-direction: column;
	z-index: 9;
	transition: transform .3s;

	.menu-header {
		width: 100%;
		padding: 20px 0;
		font-size: 30px;
		font-family: "Segoe UI";
		font-weight: 700;
		@include flex-center();
		flex-direction: column;
		border-bottom: 2px solid $dark-default;
		box-shadow: $shadow;

		img {
			width: 80px;
			height: 80px;
			border-radius: 50%;
		}
	}

	.menu-content {
		padding: 20px 0;
		>li {
			font-weight: 600;
			cursor: pointer;
			transition: background-color .5s;

			&.open {
				box-shadow: inset 3px 0 0 0 $blue;
   				background-color: $item-active-color;
				color: $white;
			}

			&:hover {
				color: $white;
			}

			&.active {
				color: $yellow;
				box-shadow: inset 3px 0 0 0 $blue;
   				background-color: $item-active-color;
			}

			a {
				text-decoration: none;
				color: inherit;
			}

			>a {
				padding: 8px 20px;
				display: block;
			}

			li {
				color: darken($default, 20%);

				&:hover {
					color: $white;
				}
			}

			&.collapse-wrap {
				padding: 0;

				>div:first-child {
					padding: 8px 20px;
				}

				.collapse > ul {
					padding: 8px 40px
				}
			}
		}
	}
}

.content {
	flex: 1;
	background-color: $bg-color;
}