@import '../common/util';

.collapse-wrap {
	position: relative;

	.collapse {
		display: none;

		&.show {
			display: block;
		}

		&.collapsing {
			overflow: hidden;
			display: block;
			transition: height .5s;
		}

		$multilocations: (l t), (l b), (r t), (r b), (t l), (t r), (b l), (b r);
	    @each $f, $s in $multilocations {
	        &.location-#{$f}#{$s} {
	        	position: absolute;
	            @if($f==r) {
	                left: 100%;
	                @if($s==t) {
	                    top: 0;
	                }
	                @else {
	                    bottom: 0;
	                }
	            }
	            @else if($f==l) {
	                right: 100%;
	                @if($s==t) {
	                    top: 0;
	                }
	                @else {
	                    bottom: 0;
	                }
	            }
	            @else if($f==t) {
	                bottom: 100%;
	                @if($s==l) {
	                    left: 0;
	                }
	                @else {
	                    right: 0;
	                }
	            }
	            @else if($f==b) {
	                top: 100%;
	                @if($s==l) {
	                    left: 0;
	                }
	                @else {
	                    right: 0;
	                }
	            }
	        }
	    }
	}

	.pull-right {
		transform: translateY(3px);
		transition: transform .3s;
	}

	&.open {
		.collapse {
			display: block;
		}

		.pull-right {
			transform: rotate(90deg);
		}
	}
}