@import '../common/util';
.list {
    display: flex;
    flex-direction: column;
    box-shadow: $shadow;
    >li {
        position: relative;
        padding: 5px 10px;
        transition: all .2s;
        &:not(:last-child) {
            border-bottom: 1px solid #CCC;
        }
        .list-header {
            margin: 0 10px 0 0;
            img {
                height: 36px;
                border-radius: 50%;
            }
        }
        .list-footer {
            width: 50px;
            text-align: center;
            .number {
                font-size: 18px;
                font-weight: bold;
                color: $orange;
            }
            i {
                color: $masstone;
            }
        }
    }
    &.list-scale {
        >li {
            &:not(.title):hover,
            &.open,
            &.active {
                transform: scale(1.02);
                border: none;
                box-shadow: 6px 6px 12px 0 rgba(0, 0, 0, .16), -6px 0 12px 0 rgba(0, 0, 0, .16);
            }
        }
    }
    &.list-border {
        >li {
            &:not(.title):hover,
            &.open,
            &.active {
                border-left: 5px solid $blue;
            }
        }
    }
    @each $name,
    $color in $colors {
        &.list-#{$name} >li {
            &:not(.title):hover,
            &.open,
            &.active {
                color: $white;
                background-color: $color;
                i,
                small {
                    color: $white;
                }
            }
        }
        &.list-border-#{$name} {
            >li {
                &:not(.title):hover,
                &.open,
                &.active {
                    border-left: 5px solid $color;
                }
            }
        }
    }
}
