<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Component</title>
    <link rel="stylesheet" href="../dist/stylesheets/layout/menu-content-column.min.css">
    <link rel="stylesheet" href="../dist/stylesheets/component/dropdown-menu.min.css">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_1470714000_81893.css">
</head>

<body>
    <div class="menu">
        <div class="menu-header orange">
            NightCat
        </div>
        <nav class="menu-content">
            <div><a href="globeCss.html">Globe CSS</a></div>
            <div class="active">Component</div>
            <div>Plugin</div>
            <div>Layout</div>
        </nav>
        <div class="menu-footer">
            <div class="search">
                <input type="text" />
                <i class="iconfont icon-search"></i>
            </div>
            <div class="user dropdown-menu-wrap">
                <img data-triggle="click" data-component="dropdown" src="../dist/images/1.png" />
                <ul class="dropdown-menu" data-location="right" data-dir="bottom">
                    <li>账号信息</li>
                    <li class="theme-red">退出登录</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="content">
        <h2 class="blue">下拉组</h2>
        <section id="dropdown">
            <div class="dropdown-menu-wrap">
                <button data-triggle="click" data-component="dropdown" data-target="drop-down-menu1">Click Me!</button>
                <ul class="dropdown-menu" id="drop-down-menu1" data-location="left" data-dir="bottom">
                    <li class="title">Title</li>
                    <li>One</li>
                    <li>Two</li>
                    <li>Three</li>
                    <li class="title">Title2</li>
                    <li>Four</li>
                </ul>
            </div>
            <div class="dropdown-menu-wrap">
                <button data-triggle="click" data-component="dropdown" class="btn-pink">Click Me!</button>
                <ul class="dropdown-menu dropdown-menu-pink" data-location="left" data-dir="bottom">
                    <li class="title">Title</li>
                    <li>One</li>
                    <li>Two</li>
                    <li>Three</li>
                    <li class="title">Title2</li>
                    <li>Four</li>
                </ul>
            </div>
            <div class="dropdown-menu-wrap">
                <button data-triggle="click" data-component="dropdown" class="btn-orange">Click Me!</button>
                <ul class="dropdown-menu dropdown-menu-orange" data-location="left" data-dir="bottom">
                    <li class="title">Title</li>
                    <li>One</li>
                    <li>Two</li>
                    <li>Three</li>
                    <li class="title">Title2</li>
                    <li>Four</li>
                </ul>
            </div>
            <div class="dropdown-menu-wrap">
                <button data-triggle="click" data-component="dropdown" class="btn-blue">Click Me!</button>
                <ul class="dropdown-menu dropdown-menu-blue" data-location="top" data-dir="right">
                    <li class="title">Title</li>
                    <li>One</li>
                    <li>Two</li>
                    <li>Three</li>
                    <li class="title">Title2</li>
                    <li>Four</li>
                </ul>
            </div>
            <br />
            <div class="dropdown-menu-wrap">
                <button class="btn-green" data-triggle="hover" data-component="dropdown">Hover Me!</button>
                <div class="dropdown-menu text-center dropdown-menu-green" data-location="left" data-dir="bottom">
                    <div>Amazing!</div>
                </div>
            </div>
            <div class="dropdown-menu-wrap">
                <button class="btn-blue" data-triggle="hover" data-component="dropdown">Hover Me!</button>
                <div class="dropdown-menu text-center" data-location="top" data-dir="right">
                    <div>Amazing!</div>
                </div>
            </div>
        </section>
    </div>
    <script data-main="../dist/javascripts/component.js" src="../require.js"></script>
</body>

</html>
