<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Globe CSS</title>
    <link rel="stylesheet" href="//at.alicdn.com/t/font_1470993821_690063.css">
    <link rel="stylesheet" type="text/css" href="../dist/stylesheets/globeCss.min.css">
</head>

<body>
    <header class="menu">
        <div class="menu-header">
            <img src="../dist/images/1.png" alt=""> NightCat
        </div>
        <ul class="menu-content pt-lg">
            <li class="active">
                <i class="iconfont icon-star"></i> Globe CSS
            </li>
            <li>
                <i class="iconfont icon-asterisk"></i>
                <a href="component.html">Component</a>
            </li>
            <li>
                <i class="iconfont icon-bookmark"></i>
                <a href="#">Plugin</a>
            </li>
            <li class="collapse-wrap open">
                <div data-component="collapse" data-triggle="click" data-target="collapseID" data-collapseGroup="menu">
                    <i class="iconfont icon-tag"></i> Layout
                    <i class="iconfont icon-caretright pull-right"></i>
                </div>
                <div id="collapseID" class="collapse text-nowrap">
                    <ul class="fontSize-sm">
                        <li><a href="#">Menu-Content</a></li>
                        <li><a href="#">Menu-Content-column</a></li>
                        <li><a href="#">Menu-Content</a></li>
                        <li><a href="#">Menu-Content-column</a></li>
                        <li><a href="#">Menu-Content</a></li>
                        <li><a href="#">Menu-Content-column</a></li>
                    </ul>
                </div>
            </li>
            <li class="collapse-wrap">
                <div data-component="collapse" data-triggle="click" data-collapseGroup="menu">
                    <i class="iconfont icon-tag"></i> Layout
                    <i class="iconfont icon-caretright pull-right"></i>
                </div>
                <div class="collapse text-nowrap">
                    <ul class="fontSize-sm">
                        <li><a href="#">Menu-Content</a></li>
                        <li><a href="#">Menu-Content-column</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </header>
    <div class="content">
        <h1 class="blue" id="Title">#Title</h1>
        <article>
            <h1>Header One</h1>
            <h2>Header Two</h2>
            <h3>Header Three</h3>
            <h4>Header Four</h4>
            <h5>Header Five</h5>
            <h6>Header Six</h6>
        </article>
        <hr />
        <h1 class="blue" id="Article">#Article</h1>
        <h4 class="blue">p</h4>
        <p>ullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.</p>
        <h4 class="blue">small</h4>
        <small>ullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.</small>
        <h4 class="blue">blockquote</h4>
        <blockquote>
            Here is a long quotation here is a long quotation here is a long quotation
            <br /> Here is a long quotation here is a long quotation here is a long quotation
            <br /> Here is a long quotation here is a long quotation here is a long quotation.
        </blockquote>
        <hr />
        <h1 class="blue" id="Form">#Form</h1>
        <h4 class="blue">Input</h4>
        <label for="account">account: </label>
        <input type="text" id="account" placeholder="Enter account." />
        <label for="password">password: </label>
        <input type="password" id="password" placeholder="Enter password." />
        <h4 class="blue">.input-group</h4>
        <div class="input-group">
            <label for="email">email address</label>
            <input type="text" id="email" placeholder="Enter email." />
        </div>
        <div class="input-group">
            <label for="select">select</label>
            <select id="select">
                <option value="One">One</option>
                <option value="Two">Two</option>
                <option value="Three">Three</option>
            </select>
        </div>
        <div class="input-group">
            <label for="comment">comment</label>
            <textarea id="comment" rows="5" placeholder="Enter textarea."></textarea>
        </div>
        <div class="input-group">
            <label>rank:</label>
            <div>
                <label>
                    <input type="radio" name="rank" value="First" /> First
                </label>
                <label>
                    <input type="radio" name="rank" value="Second" /> Second
                </label>
            </div>
        </div>
        <div class="input-group">
            <label>hobby:</label>
            <div>
                <label class="checkbox">
                    <input type="checkbox" name="hobby" value="Game" /> Game
                </label>
                <label class="checkbox">
                    <input type="checkbox" name="hobby" value="Movie" /> Movie
                </label>
                <label class="checkbox">
                    <input type="checkbox" name="hobby" value="Music" /> Music
                </label>
            </div>
        </div>
        <h4 class="blue">button</h4>
        <button>Default Btn</button>
        <button class="p-sm btn-dark-blue">Small Btn</button>
        <button class="p-xs btn-light-blue">xs</button>
        <div role="button" class="btn-green p-md">Div Btn</div>
        <div role="button" class="btn-blue p-sm">Div Btn</div>
        <button disabled="disabled">Disabled Btn</button>
        <hr />
        <h1 class="blue" id="Table">#Table</h1>
        <table id="table" class="table-gray striped-gray border-radius-xs">
            <thead>
                <tr>
                    <th></th>
                    <th class="width-md">Name</th>
                    <th class="width-md">Price</th>
                    <th class="width-lg">Intro</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <input type="checkbox" />
                    </td>
                    <td>NightCat</td>
                    <td>$20</td>
                    <td>It's Awesome!</td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox" />
                    </td>
                    <td>Elder</td>
                    <td>∞</td>
                    <td>+1s</td>
                </tr>
                <tr class="active">
                    <td>
                        <input type="checkbox" checked />
                    </td>
                    <td>Cat</td>
                    <td>$9999</td>
                    <td>Miaow~</td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox" />
                    </td>
                    <td>You</td>
                    <td>Free</td>
                    <td>Nothing</td>
                </tr>
            </tbody>
        </table>
    </div>
    <script data-main="../dist/javascripts/globeCss.js" src="../require.js"></script>
    <script type="text/javascript">
    var table = document.getElementById('table');
    table.querySelector('tbody').addEventListener('click', function(e) {
        var tr = e.target.parentElement;
        var input = tr.querySelector('input');
        console.log(!input.checked);
        tr.classList.toggle('active');

        input.checked = !input.checked;
    }, false);
    </script>
</body>

</html>
