<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>About</title>
    <link rel="stylesheet" href="dist/stylesheets/index.min.css">
</head>

<body>
    <div class="menu">
        <div class="menu-header">
            <img src="dist/images/1.png" alt=""> NightCat
        </div>
        <ul class="menu-content">
            <li class="active">Globe CSS</li>
            <li>Component</li>
            <li>Plugin</li>
            <li>Layout</li>
        </ul>
    </div>
    <div class="content">
        <h1 class="title">Title</h1>
        <h1>Header One</h1>
        <h2>Header Two</h2>
        <h3>Header Three</h3>
        <h4>Header Four</h4>
        <h5>Header Five</h5>
        <h6>Header Six</h6>
        <hr />
        <h1 class="title">Article</h1>
        <h4 class="sub-title">p</h4>
        <p>ullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.</p>
        <h4 class="sub-title">small</h4>
        <small>ullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.</small>
        <h4 class="sub-title">blockquote</h4>
        <blockquote>
            Here is a long quotation here is a long quotation here is a long quotation
            <br /> Here is a long quotation here is a long quotation here is a long quotation
            <br /> Here is a long quotation here is a long quotation here is a long quotation.
        </blockquote>
        <hr />
        <h1 class="title">Form</h1>
        <h4 class="sub-title">Input</h4>
        <label for="account">account: </label>
        <input type="text" id="account" placeholder="Enter account." />
        <label for="password">password: </label>
        <input type="password" id="password" placeholder="Enter password." />
        <h4 class="sub-title">.input-group</h4>
        <div class="input-group">
            <label for="email">email address</label>
            <input type="text" id="email" placeholder="Enter email." />
        </div>
        <div class="input-group">
            <label for="select">select</label>
            <select id="select">
                <option value="One">One</option>
                <option value="Two">Two</option>
                <option value="Three">Three</option>
            </select>
        </div>
        <div class="input-group">
            <label for="comment">comment</label>
            <textarea id="comment" rows="5" placeholder="Enter textarea."></textarea>
        </div>
        <div class="input-group">
            <label>rank:</label>
            <div>
                <label>
                    <input type="radio" name="rank" value="First" /> First
                </label>
                <label>
                    <input type="radio" name="rank" value="Second" /> Second
                </label>
            </div>
        </div>
        <div class="input-group">
            <label>hobby:</label>
            <div>
                <label class="checkbox">
                    <input type="checkbox" name="hobby" value="Game" /> Game
                </label>
                <label class="checkbox">
                    <input type="checkbox" name="hobby" value="Movie" /> Movie
                </label>
                <label class="checkbox">
                    <input type="checkbox" name="hobby" value="Music" /> Music
                </label>
            </div>
        </div>
        <h4 class="sub-title">button</h4>
        <button>Default Button</button>
        <button class="green-btn">Green Button</button>
        <button class="blue-btn">Blue Button</button>
        <hr />
        <h1 class="title">Table</h1>
        <table>
        	<thead>
        		<tr>
        			<th></th>
        			<th style="width: 150px">Name</th>
	        		<th style="width: 150px">Price</th>
	        		<th style="width: 250px">Intro</th>
        		</tr>
        	</thead>
        	<tbody>
        		<tr>
        			<td>
        				<input type="checkbox" />
        			</td>
        			<td>NightCat</td>
        			<td>$20</td>
        			<td>It's Awesome!</td>
        		</tr>
        		<tr>
        			<td>
        				<input type="checkbox" />
        			</td>
        			<td>Elder</td>
        			<td>∞</td>
        			<td>+1s</td>
        		</tr>
        		<tr>
        			<td>
        				<input type="checkbox" />
        			</td>
        			<td>Cat</td>
        			<td>$9999</td>
        			<td>Miaow~</td>
        		</tr>
        		<tr>
        			<td>
        				<input type="checkbox" />
        			</td>
        			<td>You</td>
        			<td>Free</td>
        			<td>Nothing</td>
        		</tr>
        	</tbody>
        </table>
    </div>
</body>

</html>
