<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta content="telephone=no" name="format-detection" />
    <title>Plugin</title>
    <link rel="stylesheet" href="//at.alicdn.com/t/font_1471096321_3989203.css">
    <link rel="stylesheet" href="../dist/stylesheets/plugin.min.css">
</head>

<body class="hide">
    <header class="menu">
        <div class="menu-header">
            <img src="../dist/images/1.png" alt=""> NightCat
        </div>
        <ul class="menu-content">
            <li>
                <i class="iconfont icon-star"></i>
                <a href="globeCss.html">Globe CSS</a>
            </li>
            <li>
                <i class="iconfont icon-asterisk"></i>
                <a href="component.html">Component</a>
            </li>
            <li class="active">
                <i class="iconfont icon-bookmark"></i>
                <a href="plugin.html">Plugin</a>
            </li>
            <li class="collapse-wrap">
                <div data-component="collapse" data-trigger="click" data-target="collapseID" data-collapseGroup="menu">
                    <i class="iconfont icon-tag"></i> Layout
                    <i class="iconfont icon-caretright pull-right"></i>
                </div>
                <div id="collapseID" class="collapse text-nowrap">
                    <ul class="fontSize-sm">
                        <li><a href="#">Menu-Content</a></li>
                        <li><a href="#">Menu-Content-column</a></li>
                        <li><a href="#">I have no idea</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </header>
    <div class="content">
        <h1 class="blue">#Carousel</h1>
        <section id="Carousel">
            <code class="text-preLine block"><span class="blue">Option</span>
            {
            <span class="green width-sm ml-md inline-block">count</span>: <span class="yellow">1</span>,<span class="ml-sm fontSize-sm masstone">一栏能显示Slide个数[number]</span>
                <span class="green width-sm ml-md inline-block">slideTime</span>: <span class="yellow">0.25</span>,<span class="ml-sm fontSize-sm masstone">滑动速度[number]</span>
                <span class="green width-sm ml-md inline-block">autoTimer</span>: <span class="yellow">0</span>,<span class="ml-sm fontSize-sm masstone">自动滑动时间[number]</span>
                <span class="green width-sm ml-md inline-block">reverse</span>: <span class="yellow">false</span>,<span class="ml-sm fontSize-sm masstone">自动滑动方向(默认前进方向)[boolean]</span>
                <span class="green width-sm ml-md inline-block">width</span>: <span class="yellow">undefined</span>,<span class="ml-sm fontSize-sm masstone">容器宽度[null, number, string]</span>
                <span class="green width-sm ml-md inline-block">height</span>: <span class="yellow">undefined</span>,<span class="ml-sm fontSize-sm masstone">容器高度[null, number, string]</span>
                <span class="green width-sm ml-md inline-block">direction</span>: <span class="yellow">'horizontal'</span>,<span class="ml-sm fontSize-sm masstone">滑动方向['horizontal', 'vertical']</span>
                <span class="green width-sm ml-md inline-block">isLoop</span>: <span class="yellow">false</span>,<span class="ml-sm fontSize-sm masstone">是否循环</span>
                <span class="green width-sm ml-md inline-block">autoHide</span>: <span class="yellow">'hide'</span>,<span class="ml-sm fontSize-sm masstone">按钮无效时类[string]</span>
                <span class="green width-sm ml-md inline-block">prevBtn</span>: <span class="yellow">undefined</span>,<span class="ml-sm fontSize-sm masstone">后退按钮选择器(默认.carousel-prevBtn)[string]</span>
                <span class="green width-sm ml-md inline-block">nextBtn</span>: <span class="yellow">undefined</span>,<span class="ml-sm fontSize-sm masstone">前进按钮选择器(默认.carousel-nextBtn)[string]</span>
                <span class="green width-sm ml-md inline-block">index</span>: <span class="yellow">0</span><span class="ml-sm fontSize-sm masstone">初始索引[number]</span>
                <span class="green width-sm ml-md inline-block">pagination</span>: <span class="yellow">true</span><span class="ml-sm fontSize-sm masstone">是否启用分页器[boolean, string自定义类名]</span>
            }
            <span class="blue width-sm inline-block">Function</span>
            {
                <span class="green width-md ml-md inline-block">slidePrev</span><span class="fontSize-sm masstone">后退一页</span>
                <span class="green width-md ml-md inline-block">slideNext</span><span class="fontSize-sm masstone">前进一页</span>
                <span class="green width-md ml-md inline-block">slideTo</span><span class="fontSize-sm masstone">跳转到索引 @params [number]</span>
                <span class="green width-md ml-md inline-block">destoryEvent</span><span class="fontSize-sm masstone">解除所有绑定事件</span>
                <span class="green width-md ml-md inline-block">destory</span><span class="fontSize-sm masstone">解除所有绑定事件并移除</span>
            }
            </code>
            <h4 class="blue mt-lg">Default</h4>
            <div class="flex-column">
                <div class="carousel-container height-lg" id="example1">
                    <div class="carousel-wrap">
                        <div class="carousel-slide flex flex-center white fontSize-xxxlg bg-blue">Slide 1</div>
                        <div class="carousel-slide flex flex-center white fontSize-xxxlg bg-orange">Slide 2</div>
                        <div class="carousel-slide flex flex-center white fontSize-xxxlg bg-red">Slide 3</div>
                        <div class="carousel-slide flex flex-center fontSize-xxxlg bg-yellow">Slide 4</div>
                    </div>
                    <div class="carousel-prevBtn white"></div>
                    <div class="carousel-nextBtn white"></div>
                </div>
                <div class="carousel-container height-lg mt-sm" id="example1-2">
                    <div class="carousel-wrap">
                        <div class="carousel-slide flex flex-center white fontSize-xxxlg bg-blue">Slide 1</div>
                        <div class="carousel-slide flex flex-center white fontSize-xxxlg bg-orange">Slide 2</div>
                        <div class="carousel-slide flex flex-center white fontSize-xxxlg bg-red">Slide 3</div>
                        <div class="carousel-slide flex flex-center fontSize-xxxlg bg-yellow">Slide 4</div>
                    </div>
                    <div class="carousel-prevBtn white"></div>
                    <div class="carousel-nextBtn white"></div>
                </div>
            </div>
            <h4 class="blue mt-lg">Loop</h4>
            <div class="carousel-container height-lg" id="example2">
                <div class="carousel-wrap">
                    <div class="carousel-slide flex flex-center white fontSize-xxxlg bg-blue">Slide 1</div>
                    <div class="carousel-slide flex flex-center white fontSize-xxxlg bg-orange">Slide 2</div>
                    <div class="carousel-slide flex flex-center white fontSize-xxxlg bg-red">Slide 3</div>
                    <div class="carousel-slide flex flex-center fontSize-xxxlg bg-yellow">Slide 4</div>
                </div>
                <div class="carousel-prevBtn white"></div>
                <div class="carousel-nextBtn white"></div>
            </div>
            <h4 class="blue mt-lg">DIY Pagination</h4>
            <div class="flex">
                <div class="carousel-container width-xxxlg mr-sm" id="example3">
                    <div class="carousel-wrap">
                        <div class="carousel-slide flex flex-center white fontSize-xxxlg bg-blue">Slide 1</div>
                        <div class="carousel-slide flex flex-center white fontSize-xxxlg bg-orange">Slide 2</div>
                        <div class="carousel-slide flex flex-center white fontSize-xxxlg bg-red">Slide 3</div>
                        <div class="carousel-slide flex flex-center fontSize-xxxlg bg-yellow">Slide 4</div>
                    </div>
                    <div class="carousel-prevBtn white"></div>
                    <div class="carousel-nextBtn white"></div>
                </div>
                <div class="carousel-container width-xxxlg ml-sm" id="example3-2">
                    <div class="carousel-wrap">
                        <div class="carousel-slide flex flex-center white fontSize-xxxlg bg-blue">Slide 1</div>
                        <div class="carousel-slide flex flex-center white fontSize-xxxlg bg-orange">Slide 2</div>
                        <div class="carousel-slide flex flex-center white fontSize-xxxlg bg-red">Slide 3</div>
                        <div class="carousel-slide flex flex-center fontSize-xxxlg bg-yellow">Slide 4</div>
                    </div>
                    <div class="carousel-prevBtn white"></div>
                    <div class="carousel-nextBtn white"></div>
                </div>
            </div>
            <h4 class="blue mt-lg">Scroll News</h4>
            <div class="carousel-container height-xs bg-default white flex" id="example4">
                <span class="width-sm flex flex-center red">
                    News:
                </span>
                <div class="carousel-wrap pl-sm">
                    <div class="carousel-slide flex flex-v-center fontSize-sm">夜喵中了一百万</div>
                    <div class="carousel-slide flex flex-v-center fontSize-sm">夜喵中了一千万</div>
                    <div class="carousel-slide flex flex-v-center fontSize-sm">夜喵中了一个亿</div>
                    <div class="carousel-slide flex flex-v-center fontSize-sm">夜喵死了</div>
                </div>
            </div>
        </section>
    </div>
    <footer></footer>
    <script data-main="../dist/javascripts/plugin.js" src="../require.js"></script>
</body>

</html>
