@import './layout/menu-content-column';
@import './components/core';

.content {
    padding: 20px;
    #popupbox {
        >div {
            display: inline-block;
            margin: 20px;
        }
    }
    #grid {
        >div [class|='grid'] {
        	padding-top: 10px;
        	padding-bottom: 10px;
            &:not(:last-child) {
                border-right: 1px solid $gray;
            }
        }
    }
}
