/*
 * Beautiful Color
 */
$pink: #f7acbc;
$roseate: #f05b72;
$light-red: #d93a49;
$red: #d71345;
$dark-red: #b22c46;
$orange: #f47920;
$yellow: #ffd400;
$dark-yellow: #ffc20e;
$purple: #9b59b6;
$light-blue: #77d5d4;
$blue: #3498db;
$dark-blue: #2980b9;
$green: #2ecc71;
$light-green: #52be7f;
$dark-green: #27ae60;
$brown: #843900;
$light-black: #444550;
$black: #130c0e;
$white: #fffffb;
$gray: #77787b;
$masstone: #798f9a;
$tr: transparent;

$default: #95a5a6;
$dark-default: #7f8c8d;
$font-color: #282c36;
$font-color1: #333742;
$bg-color: #eef2f4;
$bg-color1: #f2f5f9;
$bg-color2: #f0f0f0;

/*
 * 垂直居中
 */
@mixin vertical-center($pos: relative) {
	position: $pos;
	top: 50%;
	transform: translateY(-50%);
}

/*
 * 设置placeholder样式
 */
@mixin placeholder($color: #CCC, $font-size: inherit){
    &::-moz-placeholder {
        color: $color;
        font-size: $font-size;
    }
    &:-ms-input-placeholder {
        color: $color;
        font-size: $font-size;
    }
    &::-webkit-input-placeholder {
        color: $color;
        font-size: $font-size;
    }
}

/*
 * flex 居中
 */
@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}